@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

:root {
  --dark-blue-color: #334253;
  --grayish-blue-color: #67727e;
  --light-grayish-blue-color: #c5c6ef;
  --moderate-blue-color: #5357b6;
  --very-light-grey: #f5f6fa;
  --soft-red-color: #ed6368;
  --pale-red-color: #ffb8bb;
  --border-color: #e9ebf0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  background: #f5f6fa;
  padding: 2rem 1rem;
}

h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: var(--dark-blue-color);
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--grayish-blue-color);
}

button {
  line-height: 0;
  border: 0;
}

textarea {
  width: 100%;
  height: 96px;
  padding: 12px 24px 16px 24px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  resize: none;
  font-size: 16px;
  font-weight: 400px;
  color: var(--dark-blue-color);
  line-height: 24px;
  cursor: pointer;
  transition: border 0.3s ease;
}

textarea:focus {
  outline: none;
  border: 1px solid var(--moderate-blue-color);
}

.main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 104px;
  max-width: 104px;
  height: 48px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background: var(--moderate-blue-color);
  border-radius: 8px;
  transition: background 0.3s ease;
  cursor: pointer;
}

.main-btn:hover {
  background: var(--light-grayish-blue-color);
}
